<footer>
    <div class="f-info">
    <div class="info-socials">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-twitter"></i>
    </div> 
    
    <div>&copy;Wanderlust Private Limited</div>
    <div class="link">
        <a href="/Privacy" style="text-decoration: none;color: black; " >Privacy</a>
        <a href="/terms" style="text-decoration: none; color: black;">Terms</a>
    </div>
  </div>
</footer>