<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head> -->

<style>
  .filters{
    display: flex;
    flex-wrap: wrap;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.;
  }
  .filter:hover{
   opacity: 1;
   cursor: pointer;
  }


</style>



<%layout("/layouts/Boilerplate")-%>
<div class="filters">
  <div class="filter">
        <div><i class="fa-duotone fa-solid fa-fire"></i></div>
        <p>Trending</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-mountain-sun"></i></div>
  <p>Mountain city</p>
</div>
<div class="filter">
  <div><i class="fa-brands fa-fort-awesome"></i></div>
  <p>Castles</p>
</div>
<div class="filter">
  <div><i class="fa-regular fa-snowflake"></i></div>
  <p>Artic</p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-building"></i></div>
  <p>forms</p>
</div>
<div class="filter">
<div><i class="fa-solid fa-tent-arrow-down-to-line"></i></div>
<p>Camping</p>
</div>
</div>
    <div class="row row-cos-md-2 row-cols-lg-3 row-cols-sm-1" > 
      <%for(let listing of all_listings){%>
  
<a href="/listings/<%=listing._id %>" style="text-decoration: none;">
        
     

    <div class="card" style="width: 18rem;">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;"
         class="card-img-overlay">
        <div class="card-body">
          <p class="card-text">
            <b><%=listing.title%></b>
           <br>
           &#8377;<%=listing.price%>
          </p>
        </div>
    </div>
</a>
      <%}%>
</div>

   
    

